/codes/java/MetodosNumericos/bin
/codes/javascript/metodos-algoritmos/node_modules
/codes/javascript/metodos-algoritmos/math.js.min
/codes/javascript/metodos-algoritmos/npm-debug.log
/codes/javascript/metodos-algoritmos/package-lock.json
/codes/javascript/metodos-algoritmos.tar.gz
